.text-muted{
    color: var(--color-info-dark);
}

.menu_opciones{
    padding-right: 1rem;
    margin-top: -3px;
}

.menu_opciones .nav{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.menu_opciones .nav button{
    display: none;
}

.menu_opciones .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.menu_opciones .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_opciones .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.menu_opciones .nav .perfil_usuario{
    margin-top: -5px;
    display: flex;
    gap: 2rem;
    text-align: right;
}

.menu_opciones .perfil_usuario .info p{
    font-size: 1.1rem;
}

.menu_opciones .nav .perfil_usuario .foto_perfil{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.menu_opciones .perfil_usuario{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu_opciones .perfil_usuario:hover{
    box-shadow: none;
}

.menu_opciones .perfil_usuario img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.menu_opciones .perfil_usuario h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu_opciones .user_profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -.5rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu_opciones .user_profile h2{
    margin-top: 1rem;
}

.menu_opciones .recordatorios{
    margin-top: 1rem;
    margin-left: 5px;
}

.menu_opciones .recordatorios .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    .activeBar{
        display: block;
        width: 12.8rem;
    }
    .desactiveBar{
        display: none;
    }

    .menu_opciones{
        width: 94%;
        margin: 23rem auto 4rem;
    }

    .menu_opciones .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .menu_opciones .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .menu_opciones .perfil_usuario .info{
        margin-right: -1.5rem;
    }

    .menu_opciones .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .menu_opciones .nav button span{
        font-size: 2rem;
    }

    .menu_opciones .user_profile{
        margin-top: -2rem;
    }
}